@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Avenida Lins de Vasconcelos<br />
    1222, São Paulo<br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:rm92900@fiap.com.br">rm92900@fiap.com.br</a>
</address>